<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="w-4/5 mt-[20%] flex flex-col items-center justify-center">
                <h1 class="text-8xl">404</h1>
                <p class="text-xl">No page found at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
